<div class="section-fourth">
    <div class="container pl-0 pr-0">
        <div class="row d-md-flex d-block">
            <div class="col-md-6 col-12 w-auto sec-fourth-left">

                <div class="card pt-30 pb-30 fs-20">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="fs-25">Download for iOS</p>
                        </div>
                    </div>
                    <div class="row pt-20 pb-20">
                        <div class="col-md-12">
                            <a href="#"><img class="sec-fourth-img" src="assets/itunes-button.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 w-auto sec-fourth-right">

                <div class="card pt-30 pb-30 fs-20">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="fs-25">Download for Android</p>
                        </div>
                    </div>
                    <div class="row pt-20 pb-20">
                        <div class="col-md-12">
                            <a href="#"><img class="sec-fourth-img" src="assets/googleplay-button.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>