<div class="section-third">
    <div class="container pl-0 pr-0 h-100">
        <div class="row h-100 d-md-flex d-block">
            <div class="col-md-5 col-12 w-auto sec-third-left text-left">
                <p class="fs-45 mt-15 mb-15">All Your Payment</p>
                <p class="fs-45 mt-15 mb-15">Method in</p>
                <p class="fs-45 color-blue fs-35 mt-15 mb-15"> One Account</p>
                <p class="fs-25 pt-15 pb-15">
                    Make payment and withdraw funds with a simple, <br>
                    quick and secure way which includes instant <br>
                    banking.
                </p>
            </div>
            <div class="col-md-7 col-12 w-auto sec-third-right">
                <img class="sec-third-img" src="assets/dashboard-preview-1.png" alt="">
            </div>
        </div>
    </div>
</div>