<div class="container-fluid d-none d-md-block">
  <div class="navbar">
    <div class="container p-tb-menu">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/logo.svg" alt="" />
        </div>
        <div class="col-md-6 navbar-menu">
          <a class="active" href="#home">Home</a>
          <a href="#">News</a>
          <a href="#">Contact</a>
          <a href="#">About</a>

          <div class="dropdown">
            <img class="language-icon" src="assets/language-icon.svg" alt="" />
            <div class="c-point">
              EN
              <i
                class="fa fa-chevron-down language-icon-down"
                aria-hidden="true"
              ></i>
            </div>
            <div class="dropdown-content">
              <p class="c-point">EN</p>
              <p class="c-point">TR</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="topnav d-block d-md-none">
  <a href="#" class="active">
    <img src="assets/logo.svg" alt="" />
  </a>
  <div id="myLinks">
    <a href="#">Home</a>
    <a href="#">News</a>
    <a href="#">Contact</a>
    <a href="#">About</a>
    <a href="#" class="d-flex w-100">
      <div class="w-50">Language</div>
      <div class="w-50 language-text d-flex">
        <div class="text-left d-flex pr-5">
          <img src="assets/uk-flag.png" alt="" class="menu-flag-img" />
          <div>EN</div>
        </div>
        <div class="text-left d-flex">
          <img src="assets/tr-flag.png" alt="" class="menu-flag-img-2" />
          <div>TR</div>
        </div>
      </div>
    </a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <!-- <a href="" class="icon" (click)="(menuFunction)"> -->
    <i class="fa fa-bars hamburger-icon"></i>
  </a>
</div>
