<div class="section-second">
    <div class="container pl-0 pr-0">
        <div class="row row d-md-flex d-block">
            <div class="col-md-7 col-12 w-auto text-left sec-second-left">
                <div class="row">
                    <span class="sec-second-left-title">Just like real cash, but better.</span>
                </div>
                <div class="row text-left sec-second-left-items">
                    <div class="col-md-1 col-1 sec-second-left-items-icons pl-0 pr-0">
                        <img class="pl-0 pr-0" src="assets/icon-fast.svg" alt="">
                    </div>
                    <div class="col-md-11 col-11 pr-0">
                        <span class="sec-second-left-items-title">
                            Jeton is fast
                        </span>
                        <p class="sec-second-left-items-subtitle">
                            Instant deposit and balance updates.
                        </p>
                    </div>
                </div>

                <div class="row text-left sec-second-left-items">
                    <div class="col-md-1 col-1 sec-second-left-items-icons pl-0 pr-0">
                        <img class="pl-0 pr-0" src="assets/icon-easy.svg" alt="">
                    </div>
                    <div class="col-md-11 col-11 pr-0">
                        <span class="sec-second-left-items-title">
                            Jeton is easy
                        </span>
                        <p class="sec-second-left-items-subtitle">
                            Instant deposit and balance updates.
                        </p>
                    </div>
                </div>

                <div class="row text-left sec-second-left-items">
                    <div class="col-md-1 col-1 sec-second-left-items-icons pl-0 pr-0">
                        <img class="pl-0 pr-0" src="assets/icon-use.svg" alt="">
                    </div>
                    <div class="col-md-11 col-11 pr-0">
                        <span class="sec-second-left-items-title">
                            Jeton is free
                        </span>
                        <p class="sec-second-left-items-subtitle">
                            Open Jeton account for free.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12 sec-second-right">
                <div class="card pt-30 pb-30 fs-20">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="sec-second-right-title">BUSINESS ACCOUNT</p>
                        </div>
                    </div>
                    <div class="row pt-20 pb-20">
                        <div class="col-md-12">
                            <img src="assets/icon-bank.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="sec-second-right-text">Jeton allows you to request payments for good and services that you have provided. The
                                Simple pricing makes this account efficient to your business, and easy to access for
                                your customers.</p>
                        </div>
                    </div>
                    <div class="row pt-20 pb-20">
                        <div class="col-md-12">
                            <button class="btn-first-sec c-point">USER FOR BUSINESS</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>