<div class="section-first">
  <div class="sec-first-items">
    <div class="first-sec-title-mid">
      <h2 class="fs-45 color-first-sec-title pb-30">
        Send money quickly,<br />
        easily, and fast.
      </h2>
      <button class="btn-first-sec c-point">SIGN UP</button>
      <div class="first-sec-market d-flex">
        <img class="first-sec-market-img1" src="assets/appstore.svg" alt="" />
        <div class="first-sec-market-border"></div>
        <img class="first-sec-market-img2" src="assets/googleplay.svg" alt="" />
      </div>
    </div>
    <div class="first-sec-phone">
      <img src="assets/phone-bg.png" class="sec-first-phone-image" alt="" />
      <img src="assets/app-screen.png" class="sec-first-image" alt="" />
    </div>
  </div>
</div>
